.modalOverlay.lightbox {
  box-sizing: border-box;
  padding: 30px;
  height: 100%;
  overflow: auto;
}

.modalContainer {
  display: flex;
  flex-direction: column;
  border-radius: 6px;
  padding: 20px;
  background-color: #FFFFFF;
}

.lightboxContainer {
  position: relative;
  margin: 0 auto;
  border-radius: 6px;
  max-width: 1300px;
  min-width: 960px;
  height: 100%;
  min-height: 400px;
  background-color: #000000;
}

.lightboxBody {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  border-radius: 6px 0 0 6px;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.lightboxLeft {
  display: flex;
  flex-grow: 2;
  justify-content: center;
  overflow: hidden;
}

.lightboxRight {
  box-sizing: border-box;
  border-radius: 0 6px 6px 0;
  padding: 15px;
  min-width: 300px;
  width: 300px;
  background-color: #FFFFFF;
}

.lightboxInfo {
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
}
.lightboxAvatar {
  display: inline-block;
  margin-top: 3px;
  margin-right: 10px;
  overflow: hidden;
}

.lightboxAvatar img {
  border-radius: 4px;
  height: 30px;
}

.lightboxUserName {
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
}

.lightboxImage {
  object-fit: cover;
}

.lightboxImageCaptionBox.active {
  margin-bottom: 15px;
  border: 1px solid #000000;
  min-height: 70px;
  max-height: 150px;
  overflow-y: scroll;
}

.lightboxActions {
  margin-bottom: 10px;
}

.lightboxActionButton {
  display: grid;
  grid-template-columns: 1fr 9fr;
  background-color: transparent;
  padding: 0;
  width: 100%;
  color: #0073BB;
  font-size: 12px;
  font-weight: bold;
}

.lightboxActionButton:hover {
  text-decoration: underline;
}

.lighboxButtonIcon {
  display: inline-block;
  background-repeat: no-repeat;
  background-position: 0 2px;
  background-size: 18px;
  padding: 3px 10px 3px 0;
  height: 18px;
  width: 18px;
  filter: invert(27%) sepia(95%) saturate(1201%) hue-rotate(179deg) brightness(100%) contrast(101%);
}

.lightboxButtonText {
  display: flex;
  padding: 3px 0;
  line-height: 18px;
  justify-content: left;
}

.lightboxActionButton:first-child .lightboxButtonText {
  border-bottom: 1px solid #E6E6E6;
}

.modalButton {
  border-radius: 3px;
  padding: 5px 8px;
  background-repeat: no-repeat;
  background-position: 50px 3px;
  font-size: 12px;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  line-height: 1.5em;
}

.redButton.modalButton {

}

.redButton.modalButton:hover {
  background-color: #DC4F4F;
}

.cancelButton {
  margin: 5px 0 0 12px;
  font-size: 12px;
  line-height: 1.5em;
}

.lightboxImageCaptionBox {
  word-wrap: break-word;
}

.closeButton {
  position: absolute;
  top: -30px;
  right: 0;
  display: flex;
  align-items: center;
  padding: 5px;
  background-color: transparent;
  color: #999999;
  font-size: 15px;
  font-weight: bold;
  transition: color 0.2s ease-in-out;
}

.closeButton:hover {
  color: #FFFFFF;
}

.closeButton .buttonIcon {
  filter: invert(1) contrast(0.1525);
          transition:         filter 0.2s ease-in-out;
  -webkit-transition: -webkit-filter 0.2s ease-in-out;
}

.closeButton .buttonIcon.buttonIconRight {
  margin: 0 0 0 7px;
}

.closeButton:hover .buttonIcon {
  filter: invert(1);
}
