.standAloneReview {
  margin-right: auto;
  margin-left: auto;
  padding: 0 15px;
  max-width: 960px;
}

.standAloneReviewTop {
  padding: 36px 0 24px;
}

.standAloneReview a {
  color: #2B273C;
}

.standAloneReview h1 {
  font-family: "Poppins", "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 700;
}

.standAloneReviewContent {
  max-width: 625px;
}

.standAloneReviewBottom,
.standAloneCaption {
  border: 1px solid #BBBAC0;
  border-radius: 4px;
  max-width: 630px;
  padding: 25px;
}

.standAloneReviewBottom {
  min-height: 320px;
}

.standAloneUpperBox {
  margin-bottom: 25px;
}

.standAloneReviewTextContainer {
  position: relative;
}

.standAloneReviewText {
  border: none;
  width: 100%;
  min-height: 320px;
  font-family: "Open Sans", "Roboto", Helvetica, Arial, sans-serif;
  font-size: 16px;
  resize: none;
}

.standAloneReviewPlaceholder {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  font-family: "Open Sans", "Roboto", Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #BBBAC0;
}

.standAloneReviewText:focus-visible {
  outline: none;
}

.standAloneReview .charCounter {
  margin-top: 10px;
  width: 100%;
}

.standAloneFile {
  margin-bottom: 20px;
}

.standAloneImageCaptionBox {

}

.standAloneCaption {
  outline: none;
  box-sizing: border-box;
  min-height: 100px;
}

.standAloneReview .button {
  box-sizing: border-box;
  justify-content: center;
  width: 200px;
}

.reviewStatusMessageBox {
  margin-top: 15px;
  height: 18px;
}

.reviewStatusMessageBox ul {
  padding: 0;
}

.reviewSubmitError {
  font-family: "Open Sans", "Roboto", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #FF0000;
}
