/* TODO Add site wide styles */
body {
  margin: 0;
  font-size: 14px;
  line-height: 1.3em;
  color: #333;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
}

ul {
  margin: 0;
}

.button {
  cursor: pointer;
  user-select: none;
}
