/* TODO Add site wide styles */
body {
  margin: 0;
  font-size: 14px;
  line-height: 1.3em;
  color: #333;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
}

::placeholder {
  color: #CCCCCC;
}

h1, h2 {
  margin: 0 0 6px;
}
h1 {
  padding: 6px 0;
  font-size: 30px;
  font-weight: bold;
  line-height: 1.2em;
}

h2 {
  font-size: 21px;
  font-weight: bold;
  line-height: 1.28em;
  color: #D32323;
}

a {
  color: #0073BB;
  text-decoration: none;
}

ul {
  margin: 0;
}

.button {
  border: none;
  cursor: pointer;
  user-select: none;
  text-decoration: none;
  transition: all 0.8s;
  transition-property: background-image,background-color,background-position,background-size,border-color,box-shadow,opacity;
}

.button.bodyButton {
  border-radius: 4px;
}

.redButton {
  border: 1px solid #D32323;
  background-color: #F40D15;
  color: #FFFFFF;
  font-family: "Open Sans", "Roboto", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.2px;
}

.redButton:hover {
  background-color: #DC4F4F;
}

.backPageButton {
  display: flex;
  align-items: center;
  padding: 8px 19px 9px;
  font-size: 14px;
  font-weight: 700;
}

.lightButton {
  border: 1px solid #BBBAC0;
  color: #2B273C;
  font-size: 16px;
  font-family: "Poppins", "Roboto", Helvetica, Arial, sans-serif;
}

.lightButton:hover {
  background-color: rgba(0, 0, 0, 0.12);
  color: rgba(43, 39, 60, 1);
}

.transparentButton {
  border: 1px solid #BBBAC0;
  color: #FFFFFF;
  font-family: "Poppins", "Roboto", Helvetica, Arial, sans-serif;
}

.transparentButton:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.buttonIcon {
  display: inline-block;
  height: 24px;
  width: 24px;
  margin: -12px 8px -12px 0;
}

.redButton .buttonIcon {

}

.breadcrumb {
  display: flex;
  padding: 0;
  word-wrap: normal;
  white-space: nowrap;
}

.breadcrumb li {
  display: flex;
  align-items: center;
  margin-right: 3px;
}

.breadcrumb a {
  font-weight: bold;
}

.breadcrumb a:hover {
  text-decoration: underline;
}

.icon {

}

.icon.chevronRight img {
  display: flex;
  height: 24px;
  width: 24px;
  filter: invert(0.72) sepia(0.05) saturate(0.17) hue-rotate(0) brightness(0.85) contrast(0.87)
}

.container {
  margin-bottom: 30px;
}

.backPageMain {
  min-width: 1022px;
}

.backPageTop {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  border-bottom: 1px solid #E6E6E6;
  padding-bottom: 18px;
}
.backPageLeft,
.backPageRight {
  width: 50%;
}

.backPageLeft {

}

.backPageRight {
  display: flex;
  justify-content: right;
}

.backPageLowerContainer {
  padding: 27px 12px;
}

.backPageImageContainer {
  display: flex;
  flex-wrap: wrap;
}

.leftComponentContainer {
  margin-top: 32px;
  border-top: 1px solid #EEEEEF;
  padding-top: 32px;
}

.contentBottom {
  margin: 0 auto;
  max-width: 1144px;
}


.animation {
  transition-property: background-image,background-color,background-position,background-size,border-color,box-shadow,opacity;
  transition: all 0.2s ease-in-out;
}

.scrollBlinder {
  transform: translateY(10px);
  opacity: 0;
}
