.photoMain {

}

.contentContainer {
  margin: 0 auto;
  padding: 15px 15px 36px;
  width: 960px;
}

.alertBox {
  opacity: 0;
  transition: opacity 0.2s ease-out;
}

.alert {
  box-sizing: border-box;
  position: relative;
  margin: 0 0 12px;
  border-radius: 3px;
  padding: 18px 18px 18px 24px;
  width: 100%;
  font-size: 16px;
  line-height: 1.5em;
  background-color: #D0ECFB;
  opacity: 1;
}

.photoUploadContainer {

}

.photoUploadBody {
  margin: 24px auto;
  border: 3px dashed #999999;
  border-radius: 8px;
  padding: 50px 0;
  text-align: center;
}

.hr {
  display: block;
  max-width: 80%;
  margin: 20px auto;
  border-top: 1px solid #CCCCCC;
}

.or {
  height: 17px;
}

.uploadFormRow {
  margin-bottom: 20px;
}

.inputContainer {
  width: 500px;
}

textarea.inputContainer {
  resize: none;
  height: 100px;
}

textarea.inputContainer:focus-visible {
  outline: none;
}

.charCounter {
  display: flex;
  justify-content: right;
  margin: 0 auto;
  width: 500px;
}

.charCounter.overLimit {
  color: #FF0000;
  font-weight: bold;
}

.photoButton {
  padding: 8px 18px;
}

.photoUploadBusinessInfo h1 {
  font-family: "Poppins", "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 900;
}

.photoUploadBusinessInfo h1 span,
.photoUploadBusinessInfo a {
  color: #00838F;
  font-weight: 600;
  font-family: "Open Sans", "Roboto", Helvetica, Arial, sans-serif;
}

.photoUploadBusinessInfo a:hover {
  text-decoration: underline;
}
