.loginSignupContainer {
  display: flex;
  margin: 0 auto;
  padding: 15px 36px 0;
  min-height: 720px;
  width: 1020px;
}

.loginSignupContainer .leftAndRight {
  padding: 0 15px;
  width: 50%;
}

.loginSignupImageContainer {
  margin-top: 120px;
  padding: 0 0 12px 0;
}

.loginSignupImageContainer img {
  height: 342px;
  width: 382px;
}

.loginSignupBody {
  margin: 115px auto 0;
  padding: 30px 48px;
  max-width: 300px;
  text-align: center;
}

.loginSignupBody form {
  margin-top: 24px;
}

.loginSignupInputRow {
  display: flex;
  justify-content: space-between;
  margin-bottom: 9px;
}

.loginSignupInputRow input {
  box-sizing: border-box;
  border-radius: 3px;
  border: 1px solid #999999;
  padding: 5px 9px;
  width: 100%;
  font-size: 14px;
}

.loginSignupInputRow input.half {
  width: calc(50% - 5px);
}

.loginSignupInputRow input::placeholder {
  color: #999999;
}

.loginSignupbutton {
  border-radius: 3px;
  padding: 10px 13px;
  width: 100%;
}

.loginSignupbutton  {
  margin-bottom: 10px;
}

.alreadyOn {
  display: flex;
  justify-content: right;
  color: #999999;
  font-size: 12px;
}

.alreadyOn a {
  margin-left: 5px;
}

.alreadyOn a:hover {
  text-decoration: underline;
}
