li {
  list-style: none;
}

.review {
  box-sizing: border-box;
  margin-bottom: 40px;
  width: 100%;
}

.reviewTop {
  display: flex;
  position: relative;
  margin: 0 0 24px;
  max-width: 655px;
}

.reviewTopLeft,
.reviewTopRight {
  display: flex;
  width: 50%;
}

.reviewTopRight {
  justify-content: right;
}


.reviewAvatarContainer {
  display: flex;
  margin-right: 12px;
  border-radius: 50%;
  overflow: hidden;
}

.reviewAvatarLink {
  display: flex;
}

img.reviewAvatar {
  height: 64px;
  width: 64px;
  user-select: none;
}

.reviewInfoBox {
  display: flex;
}

.reviewName a {
  color: #2B273C;
  text-decoration: none;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
}

.reviewName:hover {
  text-decoration: underline;
}

.rateAndDate {
  display: flex;
  margin: 8px 0 12px -4px;
}

.ratingInfoItem {
  margin: 0 4px;
}
.starDisplay {

}

.reviewText {
  margin-bottom: 16px;
  width: 100%;
  max-width: 655px;
  font-size: 14px;
  font-weight: normal;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  line-height: 20px;
  color: #2B273C;
  word-break: break-word;
  overflow-wrap: break-word;
}

.reviewButton {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 7px;
  height: 40px;
  width: 40px;
  background-color: transparent;
  overflow: hidden;
}

.reviewButton:hover,
.reviewButton.active {
  background-color: #E2E2E6;
}

.reviewButton .buttonIcon {
  margin: 0;
}

.reviewDropdownMenu {
  position: absolute;
  top: 40px;
  box-shadow: 0 0 18px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 16px;
  background-color: #FFFFFF;
}

.reviewDropdownSelection a {
  display: block;
  border-radius: 4px;
  padding: 8px;
  color: #2B273C;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  user-select: none;
}

.reviewDropdownSelection:hover a {
  background-color: #EEEEEF;
}
