h1 {
  padding: 0;
}

.topBox {
  position: relative;
  padding: 15px 0 0;
  width: 100%;
  background-color: #F5F5F5;
  border-bottom: 1px solid #E6E6E6;
}

.topContent {
  margin: 0 auto;
  padding: 0 15px;
  width: 960px;
}

.alertSuccess {
  margin-bottom: 12px;
  border-radius: 3px;
  padding: 18px 18px 18px 24px;
  background-color: #DAECD2;
  font-size: 16px;
}

.profileContentContainer {
  position: relative;
  padding: 10px 0 25px;
}

.userProfileAvatar {
  position: absolute;
  border-radius: 4px;
  height: 220px;
  width: 220px;
  overflow: hidden;
}

.profileAvatarImage {
  height: 100%;
  width: 100%;
}

.topInfoContainer {
  display: grid;
  align-items: end;
  grid-template-columns: 220px 495px 244px;
  min-height: 150px;
}

.profileInfo {
  padding: 0 30px;
}

.profileActionLinks {
  padding: 30px 0 6px 15px;
}

.profileActionLinkItem a {
  display: flex;
  align-items: center;
  padding: 5px 0;
  font-weight: bold;
}
.profileActionLinkItem a:hover {
  text-decoration: underline;
}

.profileActionLinkItem .buttonIconMini {
  filter: invert(0.31)
          sepia(0.7)
          saturate(12)
          hue-rotate(177deg)
          brightness(0.92)
          contrast(1.05);
}

.userMain .mainContainer {
  position: relative;
  left: -15px;
  display: grid;
  grid-template-columns: 6fr 17fr;
  margin: 0 auto;
  padding: 25px 0 35px;
  min-height: 700px;
  width: 960px;
}

.profileLeft,
.profileRight {
  padding: 0 15px;
}

.profileLeft {
  margin-top: 30px;
}

.profileLeftHeader {
  padding: 12px 12px 12px 0;
}

.profileRightHeader {
  margin-bottom: 12px;
  border-bottom: 1px solid #E6E6E6;
}

.profileSidebar {
  padding: 0;
}

.profileSideItem {

}

.profileSideItem a {
  display: flex;
  align-items: center;
  border-top: 1px solid #E6E6E6;
  padding: 12px;
  color: #333333;
  transition: background-color 200ms ease-out 50ms;
}

.profileSideItem:last-child a {
  border-bottom: 1px solid #E6E6E6;
}

.profileSideItem a:hover,
.profileSideItem a.sideBarActive {
  background-color: #F5F5F5;
}

.profileSideItem a.sideBarActive {
  border-left: 3px solid #d32323;
  padding: 12px 12px 12px 9px;
}

.userEdit .profileLeft {
  margin-top: 0;
}

.userEditForm {
  max-width: 465px;
}

.userEditForm label{
  display: inline-block;
  font-weight: bold;
}

.userEditForm .profileEditExplain {
  display: block;
  color: #999999;
  font-size: 12px;
  margin-bottom: 3px;
}

.userEditForm input {
  box-sizing: border-box;
  margin-bottom: 18px;
  border-radius: 3px;
  border: 1px solid #999999;
  padding: 5px 9px;
  width: 100%;
  font-size: 14px;
}

.userEditForm input:focus-visible {
  outline: none;
}

.userEditForm input:focus {
  border-color: #0073BB;
  box-shadow: 0 0 4px rgba(0, 115, 187, 0.3);
}

.userEditForm .redButton {
  margin-right: 15px;
}
