

.topBox {
  position: relative;
  padding: 15px 0 0;
  width: 100%;
  background-color: #F5F5F5;
  border-bottom: 1px solid #E6E6E6;
}

.topContent {
  margin: 0 auto;
  padding: 0 15px;
  width: 960px;
}

.profileContentContainer {
  position: relative;
  padding: 10px 0 25px;
}

.userProfileAvatar {
  position: absolute;
  border-radius: 4px;
  height: 220px;
  width: 220px;
  overflow: hidden;
}

.profileAvatarImage {
  height: 100%;
  width: 100%;
}

.topInfoContainer {
  display: grid;
  grid-template-columns: 2fr 3fr 3fr;
  min-height: 150px;
}

.userMain .mainContainer {
  position: relative;
  left: -15px;
  display: grid;
  grid-template-columns: 6fr 17fr;
  margin: 0 auto;
  padding: 25px 0 35px;
  min-height: 700px;
  width: 960px;
}

.profileLeft {
  margin-top: 30px;
  padding: 0 15px;
}

.profileSidebar {
  padding: 0;
}

.profileSideItem {

}

.profileSideItem a {
  display: block;
  border-top: 1px solid #E6E6E6;
  padding: 10px;
  color: #333333;
  transition: background-color 200ms ease-out 50ms;
}

.profileSideItem:last-child a {
  border-bottom: 1px solid #E6E6E6;
}

.profileSideItem a:hover,
.profileSideItem a.sideBarActive {
  background-color: #F5F5F5;
}

.profileSideItem a.sideBarActive {
  border-left: 3px solid #d32323;
  padding: 10px 10px 10px 7px;
}
