.businessTop {
  width: 100%;
  max-width: 1922px;
  margin: 0 auto;
  position: relative;
  height: 425px;
}

.businessTopContent {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: flex-end;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 40px 65px;
  height: 100%;
  min-width: 1145px;
  max-width: 1270px;
  /* background-color: #AAAAAA; */
}

.businessTitleBox,
.businessButtonBox {
  width: 50%;
}

.businessTitleBox {
  position: relative;
}

.businessTitle h1 {
  font-size: 48px;
  color: #FFFFFF;
  font-family: "Poppins", "Roboto", Helvetica, Arial, sans-serif;
}

.businessTop.photoContainer .photoCarousel {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 425px;
  overflow:hidden;
}

.businessTop.photoContainer .photoCarousel img {
  object-fit: cover;
}

.businessButtonBox {
  display: flex;
  justify-content: right;
  align-items: flex-end;
}

.businessReviewCount {
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  color: #FFFFFF;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

.businessBottom {
  margin: 24px auto 48px;
  padding: 0 40px;
}

.businessBottomContent {
  max-width: 1144px;
  padding: 0 40px;
  margin: 0 auto;
}

.businessTopButton {
  box-sizing: border-box;
  padding: 12px 32px;
  height: 48px;
  font-size: 16px;
  font-weight: 500;
}

.businessButton {
  display: inline-flex;
  align-items: center;
  margin-right: 8px;
  padding: 8px 16px;
  font-family: "Poppins", "Roboto", Helvetica, Arial, sans-serif;
}

.businessButton:hover {
  box-shadow: 0 1px 4px 0 rgb(0, 0, 0, 0.33);
}

.reviewsContainer {
  width: 100%;
  max-width: 1922px;
  margin-right: auto;
  margin-left: auto;
}

.reviewsNewReviewContainer {
  margin-bottom: 48px;
}

.reviewsContainer ul {
  padding: 0;
}
