.businessTop {
  width: 100%;
  max-width: 1922px;
  margin: 0 auto;
  position: relative;
}

.businessTopContent {
  box-sizing: border-box;
  padding: 40px 65px;
  min-width: 1145px;
  max-width: 1270px;
  background-color: #AAAAAA;
}

.businessTitleBox {
  position: relative;
}

.businessTitle h1 {
  font-size: 48px;
  color: #FFFFFF;
  font-family: "Poppins", "Roboto", Helvetica, Arial, sans-serif;
}

.businessReviewCount {
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  color: #FFFFFF;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

.businessBottom {
  margin: 24px 0 48px;
  padding: 0 40px;
}

.businessBottomContent {
  max-width: 1144px;
  padding: 0 40px;
  margin: 0 auto;
}

.businessButton {
  display: inline-flex;
  padding: 8px 16px;
}

.businessButton:hover {
  box-shadow: 0 1px 4px 0 rgb(0, 0, 0, 0.33);
}

.reviewsContainer {
  width: 100%;
  max-width: 1922px;
  margin: 0 auto;
}

.reviewsNewReviewContainer {
  margin-bottom: 48px;
}

.reviewsContainer ul {
  padding: 0;
}
