/* ========================================

   Navbar - Landing Page

======================================== */

.landingContainer {
  position: absolute;
  padding: 30px 15px 0;
  width: 100%;
}

.landingContainer nav {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 15px;
}

.landingContainer nav > ul {
  display: flex;
  flex-direction: row;
  padding: 0;
}

.landingContainer nav ul li {
  list-style: none;
}

.landingContainer nav ul li {
  margin-right: 2px;
}

.landingContainer nav .headerLink {
  display: flex;
  padding: 7px 24px 8px;
  color: #FFFFFF;
  font-weight: 500;
  text-decoration: none;
  border-bottom: 2px solid transparent;
}

.landingContainer nav .headerLink:hover {
  border-color: #FFFFFF;
}

.landingContainer nav .headerLink.signUp {
  margin-left: 14px;
  border-radius: 4px;
  border: 2px solid #FFFFFF;
}

.landingContainer nav .headerLink.signUp:hover {
  background-color: #FFFFFF;
  color: #666666;
}

.landingContainer .navSpacer {
  flex-grow: 1;
}

.navDropDown {
  position: relative;
}

.navDropDownButton {
  display: flex;
  border-radius: 50%;
  height: 35px;
  width: 35px;
  overflow: hidden;
}

.navDropDownButton img {
  object-fit: cover;
}
.navDropDownMenu {
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: column;
  z-index: 900;
  border-radius: 3px;
  padding: 15px;
  opacity: 0;
  background: #FFFFFF;
  box-shadow: 0 0 18px rgb(0 0 0 / 0.15);
}

.navItem {
  white-space: nowrap;
}

.navItem a,
.navItem button {
  box-sizing: border-box;
  display: inline-block;
  padding: 8px 8px;
  width: 100%;
  background-color: #FFFFFF;
  color: #2B273C;
  font-size: 14px;
  transition: all 0.8s;
  transition-property: background-image,background-color,background-position,background-size,border-color,box-shadow,opacity;
}

.navItem a:hover,
.navItem button:hover {
  background-color: #F0F0F0;
}

.navDropDownMenu.active {
  opacity: 1;
}

/* ========================================

   Navbar - Log In / Sign Up Page

======================================== */

.loginAndSignUp {
  padding: 12px 0;
  background: #D32323;
  position: relative;
  z-index: 1000;
}

.loginLogo {
  margin: 0 auto;
  height: 40px;
  width: 80px;
  background-repeat: no-repeat;
  background-size: 80px 40px;
}

.loginLogo a {
  display: block;
  width: 100%;
  height: 100%;
  color: transparent;
}

/* ========================================

   Navbar - Business Page

======================================== */

.navGeneral {
  padding: 30px 0 0;
  width: 100%;
}
.navGeneral nav {
  max-width: 1270px;
  margin: 0 auto;
  padding: 0 15px;
}
.navGeneral .navSpacer {
  flex-grow: 1;
}

.navGeneral nav > ul {
  display: flex;
  flex-direction: row;
  padding: 0;
}

.navGeneral nav > ul li {
  list-style: none;
}

.navGeneral nav > ul li {
  margin-right: 2px;
}
